In [2]:
import pandas as pd
import numpy as np

In [3]:
df_jan = pd.read_csv("jan-20.csv")
df_jan

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,8.97,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
1,8.04,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
2,7.74,0,0,0,1,0,0,1,0,0,0,0,0,0,0,3967
3,10.16,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
4,2.39,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33744,3.64,0,0,1,0,0,0,1,0,0,0,0,0,0,0,3937
33745,0.65,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3937
33746,9.88,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3937
33747,6.51,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3937
33748,2.42,0,0,1,0,0,0,1,0,0,0,0,0,0,0,3937

In [4]:
df_feb = pd.read_csv("feb-20.csv")
df_feb

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,0.37,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4301
1,0.81,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4301
2,0.41,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4301
3,1.06,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4301
4,0.19,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28448,11.21,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4274
28449,10.24,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4274
28450,5.03,0,0,0,1,0,0,0,0,0,0,0,0,0,1,4274
28451,7.36,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4274
28452,7.96,0,0,0,1,0,0,0,0,0,0,0,0,0,1,4274

In [5]:
df_mar = pd.read_csv("mar-20.csv")
df_mar

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,7.63,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4332
1,4.54,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4332
2,0.48,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4332
3,1.91,0,0,0,1,0,0,0,1,0,0,0,0,0,0,4332
4,7.47,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32736,2.30,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4302
32737,2.31,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4302
32738,3.62,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4302
32739,3.85,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4302
32740,11.87,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4302

In [7]:
df_apr = pd.read_csv("apr-20.csv")
df_apr

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,0.66,0,0,0,1,0,0,0,0,0,0,0,1,0,0,4362
1,0.18,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4362
2,0.25,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4362
3,0.94,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4362
4,0.31,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33236,5.54,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4333
33237,4.44,1,0,0,0,0,0,1,0,0,0,0,0,0,0,4333
33238,1.47,1,0,0,0,1,0,0,0,0,0,0,0,0,0,4333
33239,6.79,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4333
33240,3.63,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4333

In [8]:
df_may = pd.read_csv("may-20.csv")
df_may

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,1.34,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4393
1,6.89,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4393
2,8.76,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4393
3,5.10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4393
4,4.40,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,4.37,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4364
33826,7.79,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4364
33827,2.98,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4364
33828,5.03,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4364
33829,0.31,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4363

In [9]:
df_jun = pd.read_csv("jun-20.csv")
df_jun

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,2.80,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4423
1,3.43,1,0,0,0,0,0,0,0,0,0,1,0,0,0,4423
2,4.49,1,0,0,0,1,0,0,0,0,0,0,0,0,0,4423
3,1.57,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4423
4,2.56,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35878,4.66,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4394
35879,9.90,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4394
35880,8.46,0,0,0,1,0,0,0,0,0,0,0,0,0,1,4394
35881,11.96,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4394
35882,10.21,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4394

In [10]:
df_jul = pd.read_csv("jul-20.csv")
df_jul

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,0.46,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4454
1,7.45,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4453
2,12.15,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4453
3,11.32,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4453
4,2.24,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33161,1.06,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4424
33162,3.07,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4424
33163,1.07,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4424
33164,2.16,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4424
33165,5.02,0,0,0,1,0,0,0,0,0,1,0,0,0,0,4424

In [11]:
df_aug = pd.read_csv("aug-20.csv")
df_aug

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,0.84,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4485
1,0.22,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4485
2,2.61,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4485
3,1.07,0,0,0,1,0,0,0,0,0,0,0,0,1,0,4485
4,8.29,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37212,1.02,0,0,0,1,0,0,0,0,0,0,0,1,0,0,4455
37213,0.77,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4455
37214,1.30,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4455
37215,0.99,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4455
37216,23.51,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4455

In [12]:
df_sep = pd.read_csv("sep-20.csv")
df_sep

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,0.88,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4515
1,3.93,0,0,0,1,1,0,0,0,0,0,0,0,0,0,4515
2,1.71,0,0,1,0,0,0,0,0,0,0,0,0,1,0,4515
3,1.75,1,0,0,0,0,0,0,0,0,1,0,0,0,0,4515
4,0.70,0,0,1,0,0,0,0,0,0,0,0,0,1,0,4515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34395,6.90,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4486
34396,4.99,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4486
34397,24.28,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4486
34398,24.44,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4486
34399,24.51,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4486

In [13]:
df_oct = pd.read_csv("oct-20.csv")
df_oct

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,8.51,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4546
1,3.23,0,0,1,0,1,0,0,0,0,0,0,0,0,0,4546
2,9.13,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4546
3,2.14,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4546
4,4.02,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36162,6.81,0,0,0,1,0,0,0,0,0,0,0,0,0,1,4516
36163,5.32,0,0,0,1,0,0,0,0,0,0,0,0,0,1,4516
36164,26.07,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4516
36165,15.45,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4516
36166,25.62,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4516

In [14]:
df_nov = pd.read_csv("nov-20.csv")
df_nov

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,14.34,0,0,1,0,1,0,0,0,0,0,0,0,0,0,4576
1,17.62,0,0,1,0,1,0,0,0,0,0,0,0,0,0,4576
2,14.54,0,0,1,0,0,0,0,0,0,0,1,0,0,0,4576
3,4.44,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4576
4,4.35,0,0,0,1,0,0,0,1,0,0,0,0,0,0,4576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30554,4.36,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4547
30555,1.54,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4547
30556,6.49,0,0,1,0,0,0,1,0,0,0,0,0,0,0,4547
30557,4.76,1,0,0,0,0,0,1,0,0,0,0,0,0,0,4547
30558,7.02,0,0,0,1,0,0,1,0,0,0,0,0,0,0,4547

In [15]:
df_dec = pd.read_csv("dec-20.csv")
df_dec

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,6.17,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4607
1,12.36,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4607
2,7.48,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4607
3,0.44,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4607
4,11.53,0,0,0,1,0,0,0,0,0,0,1,0,0,0,4607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28171,5.94,0,0,1,0,1,0,0,0,0,0,0,0,0,0,4577
28172,0.43,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4577
28173,2.00,0,0,0,1,0,0,0,0,0,0,0,1,0,0,4577
28174,2.59,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4577
28175,23.56,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4577

In [16]:
frames =[df_jan , df_feb , df_mar ,df_apr,df_may ,df_jun,df_jul,df_aug,df_sep,df_oct,df_nov, df_dec]

In [17]:
merged_df = pd.concat(frames)
merged_df

,NetSTN,GREEN,LANDFILL,RECYCLE,REFUSE,AR,Commercial,Contained,Non-Profit,Other,Other Dept,Reciprocal,Residential,Special Ops,Uncontained,DateOut
0,8.97,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
1,8.04,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
2,7.74,0,0,0,1,0,0,1,0,0,0,0,0,0,0,3967
3,10.16,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
4,2.39,0,0,0,1,0,0,0,0,0,0,1,0,0,0,3967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28171,5.94,0,0,1,0,1,0,0,0,0,0,0,0,0,0,4577
28172,0.43,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4577
28173,2.00,0,0,0,1,0,0,0,0,0,0,0,1,0,0,4577
28174,2.59,0,0,0,1,0,1,0,0,0,0,0,0,0,0,4577
28175,23.56,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4577

In [18]:
merged_df.to_csv(r'C:\Users\sweth\Videos\pwd\mergedDataset.csv', index=False)